<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
  <add name="Sql" connectionString="server=192.168.10.9;database=OA;user=sa;pwd=!888dious999;Max Pool Size=256;Min Pool Size=10;Pooling=true"/>
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
           
        </client>
    </system.serviceModel>
</configuration>