<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Sql" connectionString="server=192.168.10.9;database=OA;user=sa;pwd=!888dious999;Max Pool Size=256;Min Pool Size=10;Pooling=true"/>
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:65036/EPortalService.svc/ILoginService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoginService"
        contract="EPortalService.ILoginService" name="WSHttpBinding_ILoginService">
        <identity>
          <userPrincipalName value="DESKTOP-QK1QC4N\陈秋再" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:65036/EPortalService.svc/IUsrGroupService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUsrGroupService"
        contract="EPortalService.IUsrGroupService" name="WSHttpBinding_IUsrGroupService">
        <identity>
          <userPrincipalName value="DESKTOP-QK1QC4N\陈秋再" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:65036/EPortalService.svc/ICommon"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommon"
        contract="EPortalService.ICommon" name="WSHttpBinding_ICommon">
        <identity>
          <userPrincipalName value="DESKTOP-QK1QC4N\陈秋再" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILoginService" openTimeout="00:30:00" sendTimeout="00:30:00"  maxBufferPoolSize="2147483647" 
          maxReceivedMessageSize="2147483647" closeTimeout="00:30:00">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="WSHttpBinding_IUsrGroupService" maxBufferPoolSize="2147483647" openTimeout="00:30:00"  closeTimeout="00:30:00" sendTimeout="00:30:00"
          maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="WSHttpBinding_ICommon" maxBufferPoolSize="2147483647" openTimeout="00:30:00"  sendTimeout="00:30:00" closeTimeout="00:30:00" 
          maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>